<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Automation Testing">
    <test name="Sign In">
        <classes>
            <class
                 name="org.ui.automation.Test.SignTest.SignInTest" />
        </classes>
    </test>
</suite>